.container {
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.container+.container {
  margin-top: 0.75rem;
}

.checkbox {
  background: transparent;
  border: 0;
  border-radius: 4px;
  position: relative;
}

.inputCheckbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkmark {
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--blue);
}

.checkmark:hover {
  background: var(--gray-400);
  border-color: var(--blue-dark);
}

.inputCheckbox:checked+.checkmark {
  background: var(--purple-dark);
  border: 2px solid var(--purple-dark);
  transition: 0.2s;
}

.inputCheckbox:checked+.checkmark:hover {
  background: var(--purple);
  border: 2px solid var(--purple);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox .inputCheckbox:checked+.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 3px;
  top: 0;
  width: 4px;
  height: 7px;
  border: solid var(--gray-100);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container p {
  flex: 1;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-100);
  margin-left: 0.75rem;
}

.container .todoChecked {
  color: var(--gray-300);
  text-decoration: line-through;
}

.deleteTodo {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.deleteTodo:hover {
  background: var(--gray-400);
}

.deleteTodo svg {
  color: var(--gray-300);
  transition: color 0.2s;
}

.deleteTodo:hover svg {
  color: var(--danger);
}